# Ignore everything in this directory
*/uploads

# Except this file
!.gitignore
composer.lock

# folder vendor
/vendor/*
/.env/*

# folder example tidak perlu di add ke git jika diinginka un-comment baris ini
# /example/*

# file envirotment variabel
