<IfModule mod_rewrite.c>

  Options -Multiviews

  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f 
  # RewriteCond %{REQUEST_URI} !/$

  Header always set X-Frame-Options "SAMEORIGIN"

  # untuk membuat pretty url menghilangkan index.php?url=$url
  RewriteRule ^(.*)$ index.php?url=$1 [L]


  # config akses denied untuk Files
  <Files ".env">  
    Order Allow,Deny
    Deny from all
  </Files>

</IfModule>


